.oneven{
    border: black solid;
    font-size: 1.25em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.even{
    border: black solid;
    font-size: 1.25em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.afEven{
    float: right;
}

